/**
 * <html> 在 CSS 中, 代表【根元素】(root element)
 */
html {
  font-family: 'Roboto', 'Microsoft JhengHei', sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1;
}

/**
 * Remove the tap delay in webkit
 * @link https://medium.com/@adactio/delay-a9df9edceef3#.7dmbl3xow
 */
a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

* {
  outline: 0;                                 // 移除邊緣的圓點邊框
  -webkit-tap-highlight-color: transparent;   // 移除「被 tap」的元素的 highlight color
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  outline: none;   // Remove dotted border of <a> element in Firefox.
  text-decoration: none;
}
