img {
  width: 100px;
  height: 100px;
}

div {
  background-image: url('../assets/01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
}
